<div style="min-width: 100%;">
    <p style="font-family: Arial; font-size: 13px; text-align: left;">
        <%= data.customerName ? ('Dear ' + data.customerName + ',') : 'Dear Valued Customer,' %>
    </p>
</div>
<div style="min-width: 100%">
    <span style="font-family: Arial; font-size: 13px; text-align: left;">For </span>
    <span style="font-family: Arial; font-size: 13px; text-align: left;">PO# <%= data.customerPOId %>, </span>
    <span style="font-family: Arial; font-size: 13px; text-align: left;">Compas Quote# - <%= data.bomId %>, </span>
    <span style="font-family: Arial; font-size: 13px; text-align: left;">
        there are products listed as hold for release that require your attention.
    </span>
</div>
<div style="min-width: 100%;">
    <p style="font-family: Arial; font-size: 13px; text-align: left;">
        Please take one of the following actions:
    </p>
</div>
<div style="min-width: 100%;">
    <ul>
        <li style="font-family: Arial; font-size: 13px; text-align: left;">
            Advise us to release your order
            (
                <a href="<%= data.environment %>/mCompas/Compas/ManageJob/#!/jcb">
                    Click here
                </a>
            )
        </li>
        <li style="font-family: Arial; font-size: 13px; text-align: left;">
            Advise us to update the estimated ship date on your order
            (
                <a href="<%= data.environment %>/mCompas/Compas/ManageJob/#!/jcb">
                    Click here
                </a>
            )
        </li>
        <li style="font-family: Arial; font-size: 13px; text-align: left;">
            Request cancelation of your order
        </li>
    </ul>
</div>
<div>
    <table style="border-collapse: collapse; margin-bottom: 10px; min-width: 100%;">
        <thead>
            <tr>
                <th style="color: #8a8a8a; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px;">
                    Line #
                </th>
                <th style="color: #8a8a8a; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px;">
                    Product ID
                </th>
                <th style="color: #8a8a8a; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px;">
                    Description
                </th>
                <th style="color: #8a8a8a; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px;">
                    Designation
                </th>
                <th style="color: #8a8a8a; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px;">
                    Qty
                </th>
                <th style="color: #8a8a8a; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px;">
                    Estimated Ship Date
                </th>
                <th style="color: #8a8a8a; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px;">
                    Requested Release Date
                </th>
            </tr>
        </thead>
        <tbody>
            <% data.itemDetails.forEach(function(item) { %>
                <tr>
                    <td style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px; text-align: center;">
                        <%= item.itemId %>
                    </td>
                    <td style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px; text-align: center;">
                        <%= item.productName %>
                    </td>
                    <td style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px; text-align: center;">
                        <%= item.description %>
                    </td>
                    <td style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px; text-align: center;">
                        <%= item.designation %>
                    </td>
                    <td style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px; text-align: center;">
                        <%= item.quantity %>
                    </td>
                    <td style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px; text-align: center;">
                        <%= new Date(item.holdDate).toLocaleDateString() %>
                    </td>
                    <td style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; font-family: Arial; font-size: 12px; font-weight: 700; padding: 10px; text-align: center;">
                        <%= new Date(item.requiredReleaseDate).toLocaleDateString() %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div style="min-width: 100%;">
    <p style="font-family: Arial; font-size: 13px; text-align: left;">
        Thank you in advance for your attention to this matter.  We appreciate your business!
    </p>
</div>
<div style="min-width: 100%;">
    <p style="font-family: Arial; font-size: 13px; text-align: left; margin: 0;">
        Siemens Industry, Inc.
    </p>
    <p style="font-family: Arial; font-size: 13px; text-align: left; margin: 0;">
        Customer Support
    </p>
    <p style="font-family: Arial; font-size: 13px; text-align: left; margin: 0;">
        866-663-7324
    </p>
</div>